body {
  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.none-decoration-a {
  text-decoration: none;
  color: #00376b;
  color: rgba(var(--fe0, 0, 55, 107), 1);
}

.account-container {
  padding: 30px 20px 0;
  margin: 0 auto 30px;
  max-width: 935px;
}

.account-info-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
}

.account-image-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  margin-right: 30px;
}

.account-image-box {
  -webkit-box-align: center;
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  min-width: 80px;
  min-height: 80px;
  align-self: center;
}
.account-icon {
  width: 100%;
  border-radius: 100px;
}

.follow-button-area {
  margin-left: 20px;
}
.follow-button {
  border: 1px solid transparent;
  background-color: #0095f6;
  background-color: rgba(var(--d69, 0, 149, 246), 1);
  border-radius: 4px;
  color: #fff;
  color: rgba(var(--eca, 255, 255, 255), 1);
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  line-height: 18px;
}

.account-section-area {
  flex-grow: 2;
}
.section-title-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
}
.section-user-id {
  display: block;
  font: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  margin: -5px 0 -6px;
  font-family: inherit;
}

.section-sub-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  list-style: none;
  padding: 0px;
}
.section-sub-li {
  font-style: 16px;
  margin-right: 40px;
  font-family: inherit;
}

.section-user-info-area {
  font-size: 16px;
  line-height: 24px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
.section-user-name {
  display: inline;
  font: inherit;
  font-weight: 600;
  margin: 0;
}
.section-user-phrase {
  margin: 0;
}
.section-user-link {
  font: inherit;
  color: #3f79af;
  text-decoration: none;
}
.section-link {
  font: inherit;
  color: #2666a1;
  text-decoration: none;
  font-weight: 600;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
}
.article-selector-article {
  margin-right: 60px;
}
.article-selector {
  align-items: center;
  height: 52px;
}
.article-selector-span {
  display: flex;
  flex-direction: row;
  line-height: 52px;
  align-items: center;
}
.article-selector-icon {
  fill: rgb(38, 38, 38);
  height: 16px;
  width: 16px;
}
.article-selector-sub-text {
  padding-left: 6px;
}

.account-articles-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  padding-top: 0px;
}
.account-articles {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.account-article {
  width: 100%;
  flex: 1 0 0%;
  margin-right: 28px;
}
.account-article-image {
  width: 100%;
  height: auto;
  max-width: 295px;
  min-width: 50px;
}
